.root {
  padding-bottom: 80px;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.head .btn {
  display: flex;
  gap: 8px;
}
.content {
  margin-bottom: 120px;
}
.stock__items {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 62px;
  grid-row-gap: 96px;
}
.pagination__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pagination {
  display: flex;
  justify-content: center;
}
.btn {
  padding: 18px 24px;
  display: flex;
  justify-content: center;
}
.btn2 {
  margin: 0 auto;
  border: 2px solid #00b956;
  border-radius: 30px;
  padding: 17px 45px;
  color: #00b956;
}
@media only screen and (max-width: 1200px) {
  .stock__items {
    grid-template-columns: repeat(1, minmax(0, 540px));
    justify-content: center;
  }
}
@media only screen and (max-width: 425px) {
  .head {
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }
  .btn {
    width: 100%;
    background: #F2F2F2;
  }
  .pagination__block {
    flex-direction: column-reverse;
  }
  .btn2 {
    width: 100%;
  }
}