.root {
  padding-bottom: 80px;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.head .btn {
  display: flex;
  gap: 8px;
}
.stock__items {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 62px;
  grid-row-gap: 96px;
}
.pagination {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1200px) {
  .stock__items {
    grid-template-columns: repeat(1, auto);
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .btn {
    display: none !important;
  }
}

