.root {
  padding: 60px 0 80px;
}
.container {
  margin: 0 auto;
  max-width: 1375px;
  text-align: center;
}
.link {
  font-weight: 500;
  color: #2f80ed;
}
@media only screen and (max-width: 768px) {
  .root {
    padding: 45px 0 60px;
  }
  .link {
    display: none;
  }
}