.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  outline: none;
}
.item {
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  font-family: "Mulish";
  outline: none;
}
.item__near {
  background: #f3f3f3;
}
.item.active {
  background: #089449;
  color: white;
}
.pagination > button:first-child {
  margin-right: 20px;
}
.pagination > button:last-child {
  margin-left: 20px;
}
@media only screen and (max-width: 425px) {
  .item {
    border-radius: 16px;
    width: 36px;
    height: 36px;
    font-size: 16px;
    line-height: 16px;
    color: black;
  }
  .item.active {
    border: 1px solid #bdbdbd;
    background: #089449;
    color: white;
  }
  .item__near {
    background: none;
  }
}
