.back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  z-index: 102;
  transition: all 0.3s linear;
}
.back.active {
  pointer-events: all;
  opacity: 1;
}
.content {
  position: relative;
  margin-left: -100%;
  padding: 24px 0;
  max-width: 288px;
  height: 100%;
  background: #F3F3F3;
  overflow-y: scroll;
  transition: all 0.3s linear;
}
.content::-webkit-scrollbar {
  display: none;
}
.active .content {
  margin-left: 0;
}
.cross {
  position: absolute;
  top: 20px;
  right: 20px;
}
.head {
  margin-bottom: 20px;
  padding-left: 24px;
}
.ava img {
  width: 40px;
  height: 40px;
}
.content h2 {
  margin: 12px 0 6px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.tel {
  font-size: 12px;
  line-height: 20px;
}
.link {
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 500;
}
.favourites {
  border-top: 1px solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;
}
.arrow {
  transition: all 0.3s ease-in-out;
}
.arrow.active {
  transform: rotate(180deg);
}
.link__items {
  margin: 0;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.link__items.active {
  margin-top: 12px;
  max-height: 1000px;
}
.link__item {
  padding: 12px 0 12px 40px;
}