.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  z-index: 150;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease-in ;
}
.root.active {
  opacity: 1;
  pointer-events: all;
}
.content {
  border-radius: 24px;
  padding: 60px 40px 28px;
  width: 100%;
  max-width: 840px;
  min-height: 635px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(42.5px);
  filter: drop-shadow(64.0184px 76.8221px 80px rgba(0, 0, 0, 0.07))
    drop-shadow(41.4934px 49.7921px 46.8519px rgba(0, 0, 0, 0.0531481))
    drop-shadow(24.659px 29.5907px 25.4815px rgba(0, 0, 0, 0.0425185))
    drop-shadow(12.8037px 15.3644px 13px rgba(0, 0, 0, 0.035))
    drop-shadow(5.21632px 6.25958px 6.51852px rgba(0, 0, 0, 0.0274815))
    drop-shadow(1.18553px 1.42263px 3.14815px rgba(0, 0, 0, 0.0168519));
}
.content h2 {
  font-size: 32px;
  line-height: 41px;
}
.form {
  margin-top: 80px;
  font-family: "Mulish";
  color: #333333;
}
.input__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.input__block:not(:last-child) {
  margin-bottom: 32px;
}
.descr {
  margin-top: 12px;
  text-align: end;
}
.red {
  color: #eb5757;
}
.reg_link {
  margin-top: 40px;
  text-align: center;
}
.reg_link button {
  color: #2f80ed;
}
.btn {
  border: none;
  border-radius: 24px;
  margin: 40px 0;
  padding: 20px 0;
  width: 100%;
  background: #089449;
  text-align: center;
  color: white;
}
.links {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.link {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  padding: 12px 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.success {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  animation: success-show 0.3s forwards;
}
.success h2 {
  align-self: start;
}
@keyframes success-show {
  0%{
    opacity: 0;
    transform: translateY(-100px);
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: translateY(0px);
  }
}